.comment {
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author,
.date {
  &:hover {
    text-decoration: underline;
  }
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.heading {
  margin: 0;
  font-size: 18px;
}

.content {
  word-break: break-word;

  & img {
    max-width: 100%;
  }

  & pre {
    overflow: auto;
  }

  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}
